:root {
  --color-000: #000;
  --color-111: #111;
  --color-222: #222;
  --color-234: #234;
  --color-282: #282;
  --color-333: #333;
  --color-35a: #35a;
  --color-444: #444;
  --color-4a4: #4a4;
  --color-511: #511;
  --color-555: #555;
  --color-57c: #57c;
  --color-68d: #68d;
  --color-6c6: #6c6;
  --color-79e: #79e;
  --color-7f7f7f: #7f7f7f;
  --color-8af: #8af;
  --color-999: #999;
  --color-aaa: #aaa;
  --color-b44: #b44;
  --color-c00: #c00;
  --color-c22: #c22;
  --color-d66: #d66;
  --color-e44: #e44;
  --color-eee: #eee;
  --color-ff0: #ff0;
}

p {
  margin-bottom: 0.5rem;
}

.passage {
  line-height: 1.57;
}

.text-green {
  color: var(--color-4a4);
}

.text-yellow {
  color: var(--color-ff0);
}

.text-red {
  color: var(--color-c00);
}

.text-black {
  color: var(--color-111);
}

.text-white {
  color: var(--color-eee);
}
.text-blue {
  color: var(--color-8af);
}

.text-hair-dark {
  color: #1f160c;
}

.text-hair-blond {
  color: #faf0be;
}

.text-hair-white {
  color: #fffdfe;
}

.text-hair-brown {
  color: #90542f;
}

.text-hair-red {
  color: #ff5733;
}

.text-stroke {
  filter: drop-shadow(-0.5px -0.5px 0 var(--color-aaa))
    drop-shadow(-0.5px 0.5px 0 var(--color-aaa))
    drop-shadow(0.5px 0.5px 0 var(--color-aaa))
    drop-shadow(0.5px -0.5px 0 var(--color-aaa));
}

.text-bold {
  font-weight: bold;
}

.text-mono {
  font-family: monospace;
}

text-center {
  text-align: center;
}

.flex-box {
  display: flex;
}

.h-center {
  justify-content: center;
}

.h-right {
  justify-content: end;
}

.nowrap {
  white-space: nowrap;
}

.full-width {
  width: 100%;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  gap: 0.1em;
}

#title-login {
  position: fixed;
  top: 60%;
  padding-left: 2em;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menu-item-saves {
  display: none;
}

#ui-dialog-close {
  width: 2em;
  height: 100%;
  display: none;
}

#ui-dialog-title {
  font-size: 1em;
  text-align: left;
  padding: 0.5em;
}

#ui-dialog-titlebar {
  display: flex;
  align-items: center;
}

#ui-bar-time {
  position: absolute;
  right: 0;
  top: 1.4em;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  padding-bottom: 0.25em;
  font-size: 1.2em;
  font-family: monospace;
}

[id^='ui-bar-status'] {
  position: absolute;
  right: 0;
  padding-right: 0.25em;
  font-size: 1.2em;
}

#textbox-account,
#textbox-password,
#textbox-pcname {
  min-width: 0;
  max-width: 9em;
}
#ui-bar-body {
  padding-right: 3em;
}
#ver {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  color: var(--color-aaa);
  font-size: 0.5em;
}

#connect {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  color: var(--color-aaa);
  animation: blink 1s infinite;
}

#connect[data-counter='0'] {
  display: none;
}

@keyframes blink {
  50% {
    color: transparent;
  }
}
