html {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html,
body,
#main {
  height: 100%;
}

.title-box {
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 0 5px;
}

#menu {
  height: 174px;
}

#top {
  height: 42px;
  box-sizing: border-box;
  border: solid 1px;
  margin: 5px;
  border-radius: 5px;
}

#message {
  height: 69px;
  box-sizing: border-box;
  border: solid 1px;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
}

.menu-box {
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: solid 1px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

#passages {
  height: calc(100% - 300px);
  padding: 5px;
  box-sizing: border-box;
  overflow: auto;
}