html {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html,
body,
#main {
  height: 100%;
  max-width: 568px;
}

.title-box {
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 0 5px;
}

#main-menu {
  height: 174px;
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 568px;
}

#sub-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 568px;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

#sub-menu::-webkit-scrollbar {
  display: none;
}

#top {
  height: 42px;
  box-sizing: border-box;
  border: solid 1px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
}

#messages {
  height: 94px;
  box-sizing: border-box;
  border: solid 1px;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.main-menu-box button{
  height: 48px;
  width: calc(100% - 10px);
  text-align: center;
  border: solid 1px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #222;
}

.sub-menu-box button{
  height: 48px;
  width: calc(100% - 10px);
  text-align: center;
  border: solid 1px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #222;
  opacity: 0.8;
}

#passages {
  height: calc(100% - 320px);
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.passage {
  overflow-y: auto;
  height: 100%;
}

.map-desc,
.chat-contents{
  text-indent: 2em;
}

.map-info-list {
  margin: 0 5px;
}

.hide {
  display: none;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.green {
  color: green;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}